name: Sonarcloud

on:
  workflow_call:
    inputs:
      exclusions:
        required: false
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      GH_TOKEN:
        required: true

jobs:
  sonarcloud:
    name: Sonarcloud
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code on PR"
        if: github.event_name == 'pull_request'
        uses: TykTechnologies/github-actions/.github/actions/checkout-pr@main
        with:
          token: ${{ secrets.ORG_GH_TOKEN }}

      - name: "Checkout code on push"
        if: github.event_name == 'push'
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ORG_GH_TOKEN }}
      - uses: actions/download-artifact@v4
        with:
          name: coverage
      - uses: actions/download-artifact@v4
        with:
          name: golangci-report
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=tyktechnologies
            -Dsonar.projectKey=TykTechnologies_${{ github.event.repository.name }}
            -Dsonar.sources=.
            -Dsonar.exclusions=${{ github.event.inputs.exclusions }}
            -Dsonar.coverage.exclusions=**/*_test.go
            -Dsonar.test.inclusions=**/*_test.go
            -Dsonar.tests=.
            -Dsonar.go.coverage.reportPaths=*.cov
            -Dsonar.go.golangci-lint.reportPaths=golangci_lint.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
